
.NavBar{
    justify-content: center;
    display: flex;
  }


.NavBar button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 1em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

.NavBar button svg{
    width: 1.6em;
    height: 1.6em;
    display: block;
    margin: 0 auto;
}

  
  .NavBar button:hover {
    border-color: #646cff;
  }
  
  .NavBar button:focus,
  .NavBar button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    .NavBar button {
      background-color: #f9f9f9;
    }
  }